#shopping_cart_icon_and_menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.fa-shopping-cart{
    position:absolute;
    right:30px;
}

#cart_menu{
    position:absolute;
    background-color: white;
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    top: 40px;
    right:40px;
    z-index: 10;
    padding:5px;
    margin:0px;
}

.cart_items{
    display: flex;
    justify-content: flex-start;
}

#cart_count_background{
    position: absolute;
    top: 30px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 155, 155);
    aspect-ratio: 1;
    width:20px;
    height:20px;
    border-radius: 50%;
    opacity: .8;

}
