nav{
    display:flex;
    align-items: center;
}
#logo{
    width:150px;
    height:150px;
}
nav > ul {
    display: flex;
    justify-content: space-between;
    width:100%;
    list-style: none;
    padding-right: 15px ;
}

li > a{
    align-items: center;

}


a {
    font-size: 28pt;

}
