#orders_container{
    display: flex;
    justify-content: center;
    min-height: 90vh;
    height:fit-content
}

#orders_display_window{
    width:60%;
    height:fit-content;

}

.pending_orders_header,
.accepted_orders_header,
.completed_orders_header{
    display:flex;
    justify-content: space-evenly;
}
